<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>alignment</Title>
      <Author>
      </Author>
      <Description>
      </Description>
      <HelpUrl>
      </HelpUrl>
      <Shortcut>alignment</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal Editable="true">
          <ID>Name</ID>
          <ToolTip>Name</ToolTip>
          <Default>Name</Default>
          <Function>
          </Function>
        </Literal>
        <Literal Editable="true">
          <ID>Type</ID>
          <ToolTip>Type</ToolTip>
          <Default>Type</Default>
          <Function>
          </Function>
        </Literal>
      </Declarations>
      <Code Language="csharp" Delimiter="$"><![CDATA[        public VerticalAlignment $Name$HorizontalAlignment
        {
            get => (VerticalAlignment)GetValue($Name$HorizontalAlignmentProperty);
            set => SetValue($Name$HorizontalAlignmentProperty , value);
        }


        public HorizontalAlignment $Name$VerticalAlignment
        {
            get => (HorizontalAlignment)GetValue($Name$VerticalAlignmentProperty);
            set => SetValue($Name$VerticalAlignmentProperty , value);
        }

        public static readonly DependencyProperty $Name$VerticalAlignmentProperty = DependencyProperty.Register(
            "$Name$HorizontalAlignment",
            typeof(HorizontalAlignment),
            typeof($Type$), 
            new PropertyMetadata(null));

        public static readonly DependencyProperty $Name$HorizontalAlignmentProperty = DependencyProperty.Register(
            "$Name$VerticalAlignment",
            typeof(VerticalAlignment),
            typeof($Type$), 
            new PropertyMetadata(null));]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>